.heatmap-page {
  display: flex;
  position: relative;
}

.heatmap-container {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--color);
  position: relative;
  overflow: hidden;
}


/* media queries */
@media (max-width: 768px) {
  .heatmap-container {
    width: 100vw;
    margin-left: 0;
  }
}