.heatmap-page {
  display: flex;
}

.heatmap-container {
  width: 80vw;
  height: 100vh;
  background-color: #171a26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}


/* media queries */
@media (max-width: 768px) {
  .heatmap-container {
    width: 100vw;
  }
}