.manual-form label,
.manual-form-input,
.upload-section,
.upload-subtitle,
.upload-title {
  font-family: Inter, sans-serif;
}

.upload-section {
  flex-direction: column;
  display: flex;
}

.add-workout {
  display: flex;
}

.upload-instruction {
  text-align: center;
  font-family: Inter, sans-serif;
}

.upload-section {
  background-color: var(--background-color);
  width: 80vw;
  min-height: 100vh;
  margin-left: 20vw;
  justify-content: center;
  align-items: center;
  color: var(--color);
}

.upload-title {
  font-size: 48px;
  margin: 0;
}

.upload-subtitle {
  color: var(--subtitle);
  font-size: 16px;
}

.manual-form label,
.submit-button {
  font-size: 16px;
  color: var(--color);
}

.submit-button {
  background-color: var(--ok-button);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  width: 75%;
  height: 60px;
  cursor: pointer;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: var(--background-color);
}

/* media queries */
@media (max-width: 922px) {
  .upload-title {
    font-size: 36px;
  }

  .upload-subtitle  {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .upload-section {
    width: 100vw;
    margin-left: 0;
    margin-top: 40px;
  }
  .add-workout {
    height: 100vh;
  }
}

@media (max-width: 460px) {
  .upload-title {
    font-size: 30px;
  }

  .upload-subtitle {
    font-size: 12px;
  }
}