.hall-of-fame {
  display: flex;
}

.hall-of-fame-section {
  background-color: var(--background-color);
  width: 80vw;
  min-height: 100vh;
  margin-left: 20vw;
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hall-of-fame-title {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}

.hall-of-fame-form {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.selector {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hall-of-fame-form label {
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.hall-of-fame-form input,
.hall-of-fame-form select {
  width: 30%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--input);
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  margin-left: 10px;
}

.hall-of-fame-form input {
  width: 250px;
}

.form-submit-button {
  color: white;
  background-color: var(--ok-button);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #1e2333;
  color: var(--subtitle);
  cursor: not-allowed;
}

.search-text {
  font-size: 16px;
  font-weight: 300;
  color: var(--subtitle);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 20px 0;
  overflow-y: scroll;
}

/* media queries */
@media (max-width: 926px) {
  .hall-of-fame-form {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hall-of-fame-section {
    width: 100%;
    margin-top: 60px;
    margin-left: 0;
  }

  .hall-of-fame-title {
    font-size: 40px;
    text-align: center;
  }

  .selector {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .hall-of-fame-form input {
    width: 100%;
  }

  .hall-of-fame-title {
    font-size: 32px;
  }

  .search-text {
    font-size: 14px;
  }
}

@media (max-width: 324px) {
  .search-text {
    font-size: 12px;
  }
}
