.card {
  border: var(--border);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.card-info,
.card-title {
  font-size: 16px;
  margin: 0;
}

.card-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  font-weight: 700;
  color: var(--color);
  max-width: 150px;
}

.card-info {
  font-weight: 500;
  color: var(--subtitle);
  width: 100%;
  display: flex;
  align-items: center;
}

.star-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color);
  height: 20px;
  width: auto;
  cursor: pointer;
}

.view-link:hover {
  text-decoration: underline;
}
