.sidebar,
.sidebar-links {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: 400px;
  align-items: center;
}

.sidebar {
  max-width: 400px;
  height: 100vh;
  background-color: var(--sidebar-background-color);
  color: var(--color);
  position: fixed;
  left: 0;
}

.sidebar-links {
  height: 65%;
  justify-content: space-around;
  align-items: center;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 65%;
  max-width: 300px;
  padding-left: 15px;
  border-radius: 10px;
}

.sidebar-button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 65%;
  text-align: left;
  color: var(--subtitle);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.sidebar-icon {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

.profile-photo {
  width: 35px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  min-width: 60%;
  max-width: 350px;
}

.user-name,
a {
  text-decoration: none;
  color: var(--subtitle);
  font-family: Inter, sans-serif;
}

.user-name {
  font-weight: 700;
  font-size: 16px;
}

.active,
.sidebar-link:hover {
  background-color: var(--background-color);
  color: var(--sidebar-link-color);
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  color: var(--subtitle);
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

.footer-link:hover {
  background-color: transparent;
}

.sidebar-strava-power-btn {
  height: 20px;
  width: auto;
  opacity: 0.5;
}

.sidebar-copyright {
  font-size: 12px;
  font-weight: 300;
}

/* media queries */
@media (max-width: 1440px) {
  .sidebar {
    padding: 0;
  }
  .sidebar-link {
    width: 65%;
    font-size: 14px;
  }
  .footer-link {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 20vw;
  }
  .sidebar-header {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  .user-name {
    text-align: center;
  }
  .sidebar-link {
    width: 80%;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
