.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard {
  width: 80vw;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 30px;
  margin-left: 20vw;
}

.cell-1 {
  grid-area: 1/1/2/2;
}

.cell-2 {
  grid-area: 1/2/2/3;
}

.cell-3 {
  grid-area: 1/3/2/4;
}

.cell-4 {
  grid-area: 1/4/2/5;
}

.cell-5 {
  grid-area: 2/1/3/3;
}

.cell-6 {
  grid-area: 2/3/4/5;
}

.cell-7 {
  grid-area: 3/1/4/3;
}

.cell-8 {
  grid-area: 4/1/5/5;
}

.cell {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--color);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell-heading {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  width: 80%;
}

.cell-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: auto;
}

.cell-main {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.cell-subtitle,
.unit {
  font-size: 14px;
  color: var(--subtitle);
}

.unit {
  font-weight: 500;
}

.cell-subtitle {
  margin: 0;
  font-weight: 300;
  width: 90%;
}

.long-subtitle {
  bottom: 10px;
}

.view-link:hover {
  text-decoration: underline;
}

.view-link {
  color: var(--subtitle);
  display: flex;
  align-items: center;
  z-index: 9;
}

.view-icon {
  margin-left: 10px;
}

.quote {
  font-size: 20px;
}

.quote-subtitle {
  width: 95%;
  text-align: right;
}

.calendar,
.relative-effort-same,
.weather {
  color: var(--blue);
}

.activity,
.quote-icon,
.relative-effort-up {
  color: var(--green);
}

.achievements,
.streak {
  color: var(--yellow);
}

.longest-activity,
.relative-effort-down {
  color: var(--red);
}

.deckgl-container {
  width: 100%;
  height: 65%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-activities,
.no-gps {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  margin: 0;
}

/* media queries */
@media (max-width: 1005px) {
  .cell-main {
    font-size: 30px;
  }
  .quote {
    font-size: 20px;
  }
  .no-activities {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    width: 100vw;
    margin-top: 60px;
    margin-left: 0;
  }
  .cell-main {
    font-size: 30px;
  }
  .no-activities,
  .quote {
    font-size: 16px;
  }
  .cell-subtitle {
    font-size: 12px;
  }
  .cell-icon {
    width: 15px;
  }
  .cell-6 {
    display: none;
  }
  .dashboard {
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cell {
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
    padding: 20px;
  }
}

@media (max-width: 683px) {
  .cell-heading {
    margin: 0;
    width: 75%;
  }
  .quote-subtitle {
    width: auto;
  }
}

@media (max-width: 498px) {
  .cell {
    width: 300px;
  }
  .cell-main {
    font-size: 48px;
  }
  .cell-icon {
    width: 25px;
  }
  .cell-heading,
  .cell-subtitle,
  .unit {
    font-size: 24px;
  }
}

@media (max-width: 405px) {
  .cell {
    width: 250px;
  }
  .cell-main {
    font-size: 40px;
  }
  .cell-icon {
    width: 20px;
  }
  .cell-heading,
  .cell-subtitle,
  .unit {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .cell {
    width: 200px;
  }
  .cell-main {
    font-size: 32px;
  }
  .cell-icon {
    width: 15px;
  }
  .cell-heading,
  .cell-subtitle,
  .unit {
    font-size: 16px;
  }
}
