.nav-section,
.navbar {
  position: fixed;
  background-color: var(--sidebar-background-color);
  display: flex;
}

.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.hamburger-icon {
  color: var(--color);
  width: 25px;
  height: auto;
  cursor: pointer;
}

.nav-section {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
  color: var(--color);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 100%;
  z-index: 1000;
}

.mobile-nav-link {
  height: 60px;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  padding: 0 10px;
}

.mobile-nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  color: var(--subtitle);
  padding: 0;
}

.active,
.mobile-nav-link:hover {
  background-color: var(--hover-color);
  color: var(--sidebar-link-color);
}

.hidden {
  display: none;
  left: -100%;
}

@media (min-width: 768px) {
  .nav-section,
  .navbar {
    display: none;
  }
}
