.stats-page {
  display: flex;
  min-height: 100vh;
}

.stats-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #171a26;
  margin-left: 20vw;
}

.stats-section {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 40px;
  position: relative;
}

.stats-header {
  display: flex;
  padding-left: 40px;
  align-items: center;
  margin-top: 20px;
}

.filter-title {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.year-select {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
}

.stats-cell-1 {
  grid-area: 1/1/2/2;
}

.stats-cell-2 {
  grid-area: 1/2/2/3;
}

.stats-cell-3 {
  grid-area: 1/3/2/5;
}

.stats-cell-4 {
  grid-area: 2/1/4/3;
}

.stats-cell-5 {
  grid-area: 2/3/3/5;
}

.stats-cell-6 {
  grid-area: 3/3/4/5;
}

.stats-cell-7 {
  grid-area: 4/1/5/3;
}

.stats-cell-8 {
  grid-area: 4/3/5/4;
}

.stats-cell-9 {
  grid-area: 4/4/5/5;
}

.activities,
.max-speed {
  color: #609bf1;
}

.fav-activity,
.kudos,
.longest-activity-stat {
  color: #77ba4b;
}

.achievements,
.banana {
  color: #dfc572;
}

.calories,
.elevation-gain {
  color: #db6975;
}

/* media queries */
@media (max-width: 768px) {
  .stats-container {
    margin-left: 0;
  }
  
  .stats-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .stats-header {
    margin-top: 80px;
  }
}
