.not-logged-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.not-logged-in-jpg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../Images/pexels-rfstudio-3621185.jpg') center/cover;
}

.not-logged-in-webp {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../Images/pexels-rfstudio-3621185.webp') center/cover;
}

.must-sign-in-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.must-sign-in-link,
.not-logged-in-page {
  font-family: 'Inter', sans-serif;
}

.not-logged-in-title {
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.not-logged-in-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
